.catalog {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    .productList {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    a {
      text-decoration: none;
    }
    .card {
      background: #fbfbfb;
      border-radius: 4px;
      width: 250px;
      padding: 10px;
      text-align: center;
      margin: 4px;
      opacity: 0;
      transform: translateY(10px);
      animation: fadeInUp 0.5s forwards;
      transition: transform 0.2s ease;
      &:hover {
        transition: transform 0.2s ease;
        transform: scale(1.09);
        background-color: #edeff3;
      }
      h2 {
        color: black;
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      p {
        color: black;
      }
    }
  }

  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }