.detailContainer {
    display: flex;
    gap: 20px;
    flex-direction: column;
    @media (min-width: 768px) {
      flex-direction: row;
    }
  }
  .productImage {
    max-width: 100%;
  }
  .info {
    .price {
      font-size: 1.5em;
      color: #333;
    }
    .variants {
      button {
        margin: 5px;
        padding: 8px 12px;
        border: none;
        background-color: #121212;
        border-radius: 2px;
        color: #fff;
        font-weight: 600;
      }
    }
  }