.detailContainer {
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    gap: 20px;
    flex-direction: column;
    @media (min-width: 768px) {
      flex-direction: row;
    }
  }
  .productImage {
    max-width: 100%;
  }
  .info {
    margin-right: 16px;
    .price {
      font-size: 1.5em;
      color: #333;
    }
    .variants {
      button {
        margin: 5px;
        padding: 8px 12px;
        border: none;
        background-color: #121212;
        border-radius: 2px;
        color: #fff;
        font-weight: 600;
        cursor: pointer;
        transition: transform 0.3s ease;
        &:hover {
          transform: scale(1.05);
          background-color: #0b3864;
        }
      }
    }
    .btnBuyContainer {
      width: 100%;
      padding: 8px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      .btnBuy {
        padding: 8px;
        color: black;
        border: solid 1px black;
        font-weight: 400;
        position: absolute;
        width: 200px;
        bottom: 0px;
        text-align: center;
        cursor: pointer;
      }
    }
  }

  @media (max-width: 768px) {
    .info {
      .btnBuyContainer {
        justify-content: center;
        .btnBuy {
          width: 90%;
        }
      }
    }
  }